version: '3.8'

services:
  db:
    image: postgres:15
    container_name: goodreads_postgres
    restart: always
    environment:
      POSTGRES_DB: goodreads
      POSTGRES_USER: goodreads
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
